@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap')

.col
    margin: .5rem 1rem 1rem 1rem

    .card
        height: 340px

        .card-title-top
            margin-left: 1rem,
            margin-top: .5rem

        #divchart
            display: block
            width: 320px
            height: 320px

        #divchart1
            display: block
            width: 600px
            height: 600px
            margin-bottom: 1rem

.title-header
    font-size: 22px
    // margin-top: 1rem
    margin-left: 1rem

.container
    display: grid
    margin-top: 1rem
    width: 100%
